[submodule "sched"]
	path = sched
	url = https://github.com/flynn/sampi
[submodule "host"]
	path = host
	url = https://github.com/flynn/lorne
[submodule "cli"]
	path = cli
	url = https://github.com/flynn/grid-cli
